@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body,
html {
    height: 100%;
}

body {
    background-color: #4C5C68;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    padding: 10px;
    color: #DCDCDD;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.play-again {
    visibility: hidden;
    margin-top: 10px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.result,
.current-score {
    min-width: 400px;
    min-height: 30px;
    font-size: 40px;
}

.rock,
.paper,
.scissors,
.play-again {
    background-color: #C5C3C6;
    width: 100px;
    height: 30px;
    border: 2px solid #46494C;
    border-radius: 5px;
}